{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["Flutter", "xcconfig", "Flutter-Generated", "FLUTTER_BUILD_NAME", "FLUTTER_ROOT", "PACKAGE_CONFIG"], "state": 2, "file_id": 111, "knowledge_revision": 242, "git_revision": "", "hash": "6e1898bc4f1ff314c0f2754dcd4c4498", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"242": ""}]}